.progression-bar {
  display: flex;
}

.pro-bar {
  height: 15px;
  width: 60px;
  background-color: rgb(219, 219, 219);
  border-radius: 15px;
  margin-right: 5px;
}

.full:after {
  border-radius: 15px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #3f4f7d;
}

.almost-full:after {
  width: 80%;
  content: "";
  display: block;
  height: 100%;
  background-color: #3f4f7d;
  border-radius: 15px;
}

.half-full:after {
  width: 50%;
  content: "";
  display: block;
  height: 100%;
  background-color: #3f4f7d;
  border-radius: 15px;
}

.almost-empty:after {
  width: 20%;
  content: "";
  display: block;
  height: 100%;
  background-color: #3f4f7d;
  border-radius: 15px;
}
